<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
<title>提现记录</title>
<link rel="stylesheet" type="text/css" href="../css/api.css" />
</head>
<body>
    <section class="aui-content aui-border-b">
        <ul class="aui-list aui-media-list" id="withdraw" v-cloak>
            <li v-for="v in it" class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-row aui-row-padded">
                        <p class="aui-col-xs-4 aui-text-center aui-font-size-12" v-text="tb_date(v.createtime)"></p>
                        <p class="aui-col-xs-4 aui-text-center" v-text="'￥'+parseFloat(v.money)"></p>
                        <p class="aui-col-xs-4 aui-text-center">
                          <span v-if="v.status == 0" class="aui-text-danger">审核中</span>
                          <span v-else-if="v.status == 1" class="aui-text-primary">已提现</span>
                          <span v-else>提现失败</span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</body>
<script type="text/javascript" src="../script/api.js" ></script>
<script type="text/javascript" src="../script/vue.js" ></script>
<script type="text/javascript" src="../script/common.js" ></script>
<script type="text/javascript">
apiready = function () {
    var withdraw = new Vue({
        el: '#withdraw',
        data: {it: []},
        mounted: function(){
            $api.get('my/withdraw_log', function(json){
                withdraw.it = json;
            });
        },
    });
}
</script>
</html>
